extends ../../../../templates/layouts/default

block intro
	.container
		.row: .columns.medium-8.medium-offset-2
			h1 Question 2.1			
			p
				|	You wish to draw up a comparison table to facilitate the conversion of Euros into other currencies.  Your table should list all of the Euro notes down the left hand side, and then show their corresponding value in US Dollars, Japanese Yen and Australian Dollars.

block content
	.container
		.row: .columns.medium-8.medium-offset-2
			ol
				li bla
				li bla
				li bla
	.container
		.row: .columns.medium-8.medium-offset-2
			table
				thead
					tr
						td
						td Monday
						td Tuesday
						td Wednesday
						td Thursday
						td Friday
						td Saturday
						td Sunday
						td Total Sales
				tbody
					tr
						td
							strong Accomm.
						td 19560
						td 18340
						td 11345
						td 14980
						td 17120
						td 8340
						td 4510