extends ../../../../templates/layouts/default

block intro
	.container
		.row: .columns.medium-8.medium-offset-2
			h1 Question 2.3
			p
				|	Set up a spreadsheet to record grades for the course, leaving space for each students mark in each of the assignments, quizzes, etc.  Where someone gets a total mark of 60 or over, set up the spreadsheet so that it automatically writes “Pass” after their name.

block content
	.container
		.row: .columns.medium-8.medium-offset-2