extends ../../../../templates/layouts/default

block intro
	.container
		.row: .columns.medium-8.medium-offset-2
			h1 Question 3.4
			h2 The Tax Question revisited!

block content
	.container
		.row: .columns.medium-8.medium-offset-2		
			p
				|	Based on your new found knowledge of =Lookup ( ) statements, revisit question 3.2 above and modify it so that it works more efficiently!
