//- HEADER
.dark.title-bar
	span.left
	span.title.center
		a(href='http://bassdrivearchive.com', target='_blank') BassDrive Radio
	span.right
		a(href='#')
			|	{{playerTimer | date : format : h:mm:ss}}