//- HEADER
.dark.title-bar
	span.left
		a(href='bassdrivearchive.com', target='_blank') BassDrive Radio
	span.title.center {{currentSong.text}}
	span.right
		a(href='#')
			|	{{playerTimer | date : format : h:mm:ss}}