//- FOOTER
.footer#footer: .row
	.columns.medium-8.medium-offset-2
	
		ul.inline-list
			li
				a(href="http://www.bassdrive.com/v2/streams/BassDrive3.pls", target='_blank')
					img.iconic-color-primary(zf-iconic='', icon='', size='small')
					| AAC
			li
				a(href="http://www.bassdrive.com/BassDrive.asx", target='_blank')
					img.iconic-color-primary(zf-iconic='', icon='', size='small')
					| WMA
			li
				a(href="http://www.bassdrive.com/v2/streams/BassDrive6.pls", target='_blank')
					img.iconic-color-primary(zf-iconic='', icon='', size='small')
					| 56K
			li
				a(href="http://www.bassdrive.com/v2/streams/BassDrive.pls", target='_blank')
					img.iconic-color-primary(zf-iconic='', icon='', size='small')
					| 128K

	.columns
		p.text-center.dark
			a(href='http://bluecraft.io')
				| made with 
				img.iconic-color-primary(zf-iconic='', icon='heart', size='small', class='iconic-color-dark')
				| by bluecraft.io
