doctype html
html

	//- HTML HEADER
	head
		include ../templates/layouts/head


	//- HTML BODY
	body(ng-app='appRadio')

		//- HEADER
		.grid-frame.vertical(ng-controller='PlayerCtrl')
			include ../templates/layouts/header

		
			.grid-block.vertical.medium-horizontal

				//- The content block should contain the body of your template's content
				.grid-block.medium-8.small-12.vertical.player-wrapper
					.menu-group.dark
						.menu-group-left
							ul.icon-left.menu-bar
								li
									a(ng-click='play(currentSong.url)', title='Play Radio')
										img(zf-iconic='', icon='musical-note', size='small', class='iconic-color-secondary')
										| Live Radio
						span.timer {{playerTimer | date : format : h:mm:ss}}
						
						
						.menu-group-right
							ul.primary.menu-bar
						
								li.right
									a(ng-click='pause()', ng-show='isPlaying').icon-only
										img(zf-iconic='', icon='media', size='small', data-state='pause')
									a(ng-click='play(currentSong.url)', ng-show='!isPlaying').icon-only
										img(zf-iconic='', icon='media', size='small', data-state='play')
						
								li.right
									a(zf-popup-toggle='popup-volume').icon-only
										img(zf-iconic='', icon='volume', size='small', data-state='high')
									zf-popup#popup-volume(pin-to='top right', pin-at='bottom left')
										img(zf-iconic='', icon='volume', size='small', data-state='low')
										input(type='range')
										meter(min='0' max='100' low='25' high='75' optimum='100' value='{{volume * 100}}')

					div.card
						img(src="img/bassdrive-logo.svg", alt="")
						.divider
							h1.text-center {{currentSong.text}}
						.card-section
							h2 {{currentSong.show}}
							h2 {{currentSong.date}}
							h2 {{currentSong.name}}
							a.small.button.expand.track-url(href='{{currentSong.url}}', target='_blank')
								span {{currentSong.url}}
								img.iconic-color-primary(zf-iconic='', icon='external-link', size='small', class='iconic-color-secondary')

				.grid-block.medium-4.small-12.vertical.archives-wrapper
					.title-bar.primary
						span.left.title  Archives

					div.center.loading-wrapper(ng-show="loading")
						img(zf-iconic='', icon='cogs', size='large', class='iconic-color-primary')
						h3 We're fetching the bassdrive archives

					zf-accordion#days.days.grid-block.vertical(auto-open="false", ng-show="!loading")
						zf-accordion-item.day(title='{{day.text}}', ng-repeat='day in showDays track by $index')
							zf-accordion.shows(auto-open="false")
								zf-accordion-item.show(title='{{show.name}}', ng-repeat='show in day.shows track by $index')
									ul.block-list.songs
										li.song.with-chevron(ng-repeat='song in show.songs track by $index', ng-class='{active : currentSong.url===song.url}')
											span(ng-click='setCurrentSong(song)') {{song.text}}



			//- FOOTER
			include ../templates/layouts/footer


			//- //- JAVASCRIPT
			include ../templates/layouts/footer-scripts
