doctype html
html

	//- HTML HEADER
	head
		include ../templates/layouts/head


	//- HTML BODY
	body(ng-app='appRadio')

		//- HEADER
		.grid-frame.vertical(ng-controller='PlayerCtrl')
			include ../templates/layouts/header


			.menu-group.dark
				.menu-group-left
					ul.menu-bar
						li
							a(ng-click='play(currentSong.url)', title='Play Radio')
								img.iconic-color-primary(zf-iconic='', icon='musical-note', size='small', class='iconic-color-secondary')
								| Live radio
						li
							a(href="http://www.bassdrive.com/v2/streams/BassDrive3.pls", target='_blank')
								img.iconic-color-primary(zf-iconic='', icon='', size='small')
								| AAC
						li
							a(href="http://www.bassdrive.com/BassDrive.asx", target='_blank')
								img.iconic-color-primary(zf-iconic='', icon='', size='small')
								| WMA
						li
							a(href="http://www.bassdrive.com/v2/streams/BassDrive6.pls", target='_blank')
								img.iconic-color-primary(zf-iconic='', icon='', size='small')
								| 56K
						li
							a(href="http://www.bassdrive.com/v2/streams/BassDrive.pls", target='_blank')
								img.iconic-color-primary(zf-iconic='', icon='', size='small')
								| 128K																					
				.menu-group-right
					ul.menu-bar
						li
							a(ng-click='play(currentSong.url)')
								img.iconic-color-primary(zf-iconic='', icon='media', size='medium', class='iconic-color-secondary', data-state='play')
						li
							a(ng-click='pause()')
								img.iconic-color-primary(zf-iconic='', icon='media', size='medium', class='iconic-color-secondary', data-state='pause')
										
			.grid-block
				
				.grid-block.medium-4.small-12.vertical
					.title-bar.primary
						span.left.title  Archives
					zf-accordion#days.days.grid-block.vertical(auto-open="false")
						zf-accordion-item.day(title='{{day.text}}', ng-repeat='day in showDays track by $index')
							zf-accordion.shows(auto-open="false")
								zf-accordion-item.show(title='{{show.name}}', ng-repeat='show in day.shows track by $index')
									ul.songs.unstyled
										li.song(ng-repeat='song in show.songs track by $index')
											span.button.expand.primary(ng-click='setCurrentSong(song)') {{song.text}}

				//- The content block should contain the body of your template's content
				.grid-block.medium-8.small-12.vertical.player-wrapper
					.title-bar.primary
						br
						//- span.center.title {{currentSong.text}}
					div.card						
						img(src="img/bassdrive-logo.svg", alt="")						
						.divider {{currentSong.text}}
						.card-section
							h2 {{currentSong.show}}
							h2 {{currentSong.date}}
							h2 {{currentSong.name}}
							a.label {{currentSong.url}}

			//- FOOTER
			include ../templates/layouts/footer


			//- //- JAVASCRIPT
			include ../templates/layouts/footer-scripts
